:root {
  --zima-blue: #16b8f3;
  --vp-c-brand: #4aa6c0;
  --vp-c-brand-light: #52b1cc;
  --vp-c-brand-lighter: #52b1cc;
  --vp-c-brand-dark: #52b1cc;
  --vp-c-brand-darker: #52b1cc;
}
.dark {
  --vp-c-brand: #16b8f3;
  --vp-c-brand-light: #52b1cc;
  --vp-c-brand-lighter: #52b1cc;
  --vp-c-brand-dark: #4aa6c0;
  --vp-c-brand-darker: #52b1cc;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );
}
